<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675799172993-bffpotpnson6k80rbshhb0ieps9qn330.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675799172993-bffpotpnson6k80rbshhb0ieps9qn330</string>
	<key>API_KEY</key>
	<string>AIzaSyCPzk7gwbGMQT_eEAGV07bO5of8NMbjcFM</string>
	<key>GCM_SENDER_ID</key>
	<string>675799172993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meoflauta.instagramswiftui</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-103e5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-103e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675799172993:ios:dfed334bfe42abc12c4a80</string>
</dict>
</plist>